@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

.containerr{
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px)
{
  .containerr{
    max-width: 90%;
  }
}
.d-flex{
  display: flex;
  flex-direction: row;
  background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}
.formm{
  flex: 4;
}
.Yorder{
  flex: 2;
}
.title{
  background: linear-gradient(to bottom right, goldenrod 50%, rgb(255, 218, 10) 100%);
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: #000;
}
.title h2{color: #000;}
h2{
  margin: 0;
  padding-left: 15px; 
}
.required{
  color: red;
}
label, table{
  display: block;
  margin: 15px;
}

button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: goldenrod;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
}
button:hover{
  cursor: pointer;
  background: goldenrod;
}

.img{
width: 100%;
height: 6%;}