body{
    margin: 0;
    padding: 0;
}  
     
  /* a {
  color: #007ea7;
  text-decoration: none;
} */
.nav__item-link:hover{background-color: #ffffff4f;}
/* a:hover{background-color: #003459;} */
p {
    color: #444;
    font-size: 14px;
    line-height: 20px;
}
h1 {
    padding-bottom: 10px;
    margin-top: 0;
    font-size: 42px;
    letter-spacing: 1px;
    border-bottom: 1px solid #ddd;
    cursor: default;
}
h2 {
    color: #003459;
    margin-bottom: 10px;
}

/** Container */
.app-container {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}

/* a h2:hover{color: #fff;} */
/** Navigation */
.nav {
    flex: 1;
    max-width: 180px;
    /* background-color: #007ea7; */
    -webkit-font-smoothing: antialiased;
}
.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #ccc;
    font-size: 24px;
    letter-spacing: 1px;
    background-color: #00171f;
    cursor: default;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    cursor: pointer;
}
.nav__list {
    margin: 40px 0 0;
    padding: 0;
    list-style: none;
}
.nav__list-item {
    position: relative;
}
.nav__list-item--active {
    padding: 10px 0 10px 15px;
}
.nav__list-item--active .nav__item-link {
    padding: 15px 15px;
    color: #1a1a1a;
    font-weight: 700;
    background-color: #fffbfc;
}
.nav__item-link {
    display: block;
    padding: 10px 10px;
    color: #eee;
}
/** App View */
.app-view {
    display: flex;
    flex: 1;
    flex-direction: column;
}
/** Utility Bar */
.utility-bar {
    height: 50px;
    font-size: 13px;
    font-weight: 300;
    background-color: #002a38;
}
.utility-bar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}
.utility-bar__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.utility-bar__item-link {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 50px;
}
/* .utility-bar__item-link svg, .utility-bar__item-link svg path {
    fill: #007ea7 !important;
    transition: fill 200ms ease-out;
}
.utility-bar__item-link:hover svg, .utility-bar__item-link:hover svg path {
    fill: #00a8e8 !important;
} */
.utility-bar__indicator {
    position: relative;
    left: -7px;
    top: 9px;
    width: 14px;
    height: 14px;
    color: white;
    font-size: 10px;
    text-align: center;
    background-color: #d90000;
    border-radius: 100%;
}
.utility-bar__account {
    display: flex;
    align-items: center;
    padding: 10px;
}
.utility-bar__account:hover .utility-bar__account-name {
    color: #eee;
}
.utility-bar__account-avatar {
    display: inline-block;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    background-color: #666;
    background-image: url('http://keenanstaffieri.com/wp-content/uploads/2014/07/keenan_avatar2.jpg&#39;'
   );
    background-size: 100%;
    border-radius: 100%;
}
.utility-bar__account-name {
    color: #00a8e8;
    transition: color 200ms ease-out;
}
/** Content */
.contentt {
    flex: 1;
    padding: 30px;
    /* background-color: #fffbfc; */
    -webkit-font-smoothing: antialiased;
}


.boddy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 100vh;
    width: 230wh;
    margin-top: -15%;
  }
  
  .cardd {
    color: rgb(255, 255, 255);
    display: grid;
    font-weight: bold;
    place-items: center;
    position: relative;
    height: 300px;
    width: 350px;
    /* background: #333; */
    /* background-image: url('https://images.pexels.com/photos/6077326/pexels-photo-6077326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    border-radius: 8px;
    overflow: hidden;
  }
  
  .cardd::before {
    content: "";
    width: 110px;
    height: 350px;
    left: 10px;
    top: -70px;
    position: absolute;
    background: linear-gradient(#00e5ff, #b400fb);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .cardd::after {
    content: "";
    position: absolute;
    background: gray;
    /* background-image: url('https://images.pexels.com/photos/6077422/pexels-photo-6077422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-size: cover;
    inset: 3px;
    border-radius: 8px;
  }
  
  .cardd .contentt {
    z-index: 1;
  }

  .auc::before{
    background: linear-gradient(#00e5ff, #ff7300);
  }
 .auc::after{
    background: url('https://images.pexels.com/photos/6077422/pexels-photo-6077422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
  }

 .user::before{
    background: linear-gradient(#00e5ff, #ff7300);
  }
 .user::after{
    background: url('https://annabaa.org/aarticles/fileM/23/5b2b478134f2a.jpg');
    background-size: 240px 295px;
  }

 .comment::before{
    background: linear-gradient(#00e5ff, #ff7300);
  }
 .comment::after{
    background: url('https://exempla0a.files.wordpress.com/2021/07/email-6370595_1920-1.jpg');
    background-size: 250px 380px;
  }

  .dd{
    background-color: rgba(255, 255, 255, 0.559);
    color: #000000;
    margin-top: -20%;
    opacity: 1;
  }
  