body{
    background-color: rgb(230, 230, 230) !important;
    /* background: url('https://wasla-laravel.s3.me-south-1.amazonaws.com/images/products/606857663850c.jpg'); */
}

.databox{margin-left: 40%;
margin-top: 2%;
}

input[type="file"]{
    display: none;
}

.c2{
    /* margin: 0 40%; */
        padding: 3px;
    width: 60%;
}

.inp{
    height: 40px;
    border-radius: 3px;
    border: solid 1px rgb(123, 105, 2);
    font-size: 20px;
    line-height: 1.42857143;
    background-color: #ffffff;
    padding: 5px 10px;
    margin: 5px 3px;
    margin-bottom: 0;
    width:20em;
}

.d1{
    width: 25% !important;
    display: inline-flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 2%;
}
a{text-decoration: none;}

.butt{
    margin-top: 3px;
    margin-bottom: 20px;
    background-color: #efeef2a3;
    color:#dfb163;
    padding: 10px 40px;
    font-size: 23px;
    cursor: pointer;
    border: 1px solid #dfb163;
    margin-left: 5%;
}

.butt:hover{
    background-color: #dfb163;
    color: white;
}

.red{
    color: #D01A1A;
}

label{color: #000; width: 200px;}
input::placeholder{color: rgb(150, 150, 150); font-size: medium;}

.message{
    position: relative;
    background-color: #dfb26389;
    z-index: 9999;
    height: 100px;
    color: #181818;
    
}
.message p{
    color: white;
    font-size: 30px;
    padding-top: 30px;
}