.error-msg{
    font-size:12px;
    width:100%;
    color:red;
}

.login-wrapper{width: 50%;}

.formm{width: 70%;
display: flex;
flex-direction: column;
}

.admin-btn{background: goldenrod;
border:2px rgb(0, 0, 0) solid;
color:#000;
font-size: 20px;
}
.admin-btn:hover{background: rgba(218, 165, 32, 0.804);}


.lbl{margin-bottom: 0;}
.inp{margin-top: 0;}